/* your code */
#value {
	border:1px solid whitesmoke;
	border:round
	
}
#value th{
	background-color:blue;
}
#value tr:nth-child(even){
	background-color:blanchedalmond;
}
#value td{
	
	padding:7px 30px;
}